.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero img {
  flex: 1;
  height: 100%;
  inset: 0;
  filter: brightness(30%);
}

.hero .embla {
  margin: 0;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}
.hero .embla__viewport {
  overflow: hidden;
}
.hero .embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  flex: 0 0 100%; /* Default to 1 image per slide */
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__slide img {
  width: 100%;
  scale: 1.02;
  height: auto;
}

/* Medium screens: 2 images per slide */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

/* Large screens: 3 images per slide */
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.33%;
  }
}

.hero .text {
  position: absolute;
  z-index: 1;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  gap: 25px;
  font-family: var(--first-family);
}

.hero .text h1 {
  font-weight: 600;
}

.hero p {
  text-align: center;
  line-height: 20px;
}

.hero a {
  padding: 15px 25px;
  border: var(--second-color-primary) 2px solid;
  border-radius: 14px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 130px;
}

.hero a:hover {
  background: var(--second-color-primary);
}

.hero a:hover::after,
.hero a:hover::before {
  transform: translateY(-100%);
}

.hero a::after,
.hero a::before {
  content: "Shop Now";
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  height: 47px;
  width: 127px;
}

.hero a::after {
  top: 0;
}

.hero a::before {
  top: 100%;
}

@media screen and (max-width: 550px) {
  .hero p {
    font-size: 0.8rem;
  }
  .hero .text {
    gap: 10px;
  }
  /* .hero .text .title{
    font-size: 1.2rem !important;
  } */
  .hero .text {
    width: 90%;
  }
  .hero a {
    height: 40px;
    width: 120px;
  }
  .hero a::after,
  .hero a::before {
    height: 37px;
    width: 117px;
  }
}
