.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.hero img {
  flex: 1;
  height: 100%;
  background-image: url("/images/hero2.jpeg");
  inset: 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.1); */
  filter: brightness(30%);
}

.hero .text {
  position: absolute;
  z-index: 10;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  gap: 25px;
  font-family: var(--first-family);
}

.hero .text h1 {
  font-weight: 600;
}

.hero p {
  text-align: center;
  line-height: 25px;
}

.hero a {
  padding: 15px 25px;
  border: var(--second-color-primary) 2px solid;
  border-radius: 14px;
  transition: all 0.5s;
}
.hero a:hover {
  background: var(--second-color-primary);
  transform: translateY(-10px);
}

.embla {
  margin: 0;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  width: 100%;
  display: flex;
}
.embla__slide img{
  flex: 1;
  height: 100%;
}
