label.radio-wrapper-8 {
  display: block;
  cursor: pointer;
}
label.radio-wrapper-8 input {
  display: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
label.radio-wrapper-8 input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}
label.radio-wrapper-8 input + span:not(:empty) {
  padding-left: 30px;
}
label.radio-wrapper-8 input + span:before,
label.radio-wrapper-8 input + span:after {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
label.radio-wrapper-8 input + span:before {
  background: #d1d7e3;
  transition:
    background 0.2s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
label.radio-wrapper-8 input + span:after {
  background: #fff;
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
label.radio-wrapper-8 input:checked + span:before {
  transform: scale(1.04);
  background: var(--theme);
}
label.radio-wrapper-8 input:checked + span:after {
  transform: scale(0.4);
  transition: transform 0.3s ease;
}
label.radio-wrapper-8:hover input + span:before {
  transform: scale(0.92);
}
label.radio-wrapper-8:hover input + span:after {
  transform: scale(0.74);
}
label.radio-wrapper-8:hover input:checked + span:after {
  transform: scale(0.4);
}

td,
th {
  padding: 15px 5px;
}

.row-border {
  border-bottom: 1px solid #d4d3d3;
}

.border-mask-left {
  mask-image: linear-gradient(90deg, transparent, #000 95%);
}
.border-mask-right {
  mask-image: linear-gradient(270deg, transparent, #000 95%);
}
.border-mask {
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 10%,
    #000 90%,
    transparent
  );
}

.swiper-pagination-bullet-active {
  background: var(--theme) !important;
}

.similarProducts .open-product {
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  height: 45px;
}

.similarProducts .open-product:hover {
  background: var(--theme);
}

.similarProducts .open-product:hover::after,
.similarProducts .open-product:hover::before {
  transform: translateY(-100%);
}

.similarProducts .open-product::after,
.similarProducts .open-product::before {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  height: 45px;
  width: calc(100% - 3px);
}

.similarProducts .open-product.en::after {
  content: "Open Product";
}

.similarProducts .open-product.ar::after {
  content: "إفتح المنتج";
}

.similarProducts .open-product::before {
  content: "\f35d";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 1.5rem;
}

.similarProducts .open-product::after {
  top: 0;
}

.similarProducts .open-product::before {
  top: 100%;
}
