td, th{
  padding: 15px 15px;
}

.border-mask-left{
  mask-image: linear-gradient(90deg,transparent,#000 95%);
}
.border-mask-right{
  mask-image: linear-gradient(270deg,transparent,#000 95%);
}
.border-mask{
  mask-image: linear-gradient(90deg,transparent,#000 10%,#000 90%,transparent);
}
