:root {
  /* Primary */
  --first-color-primary: #ffd700;
  --second-color-primary: #daa520;
  --third-color-primary: #f5f5dc;
  --fourth-color-primary: #4d4d4d;
  --fifth-color-primary: #333333;
  /* Secondary */
  --first-color-secondary: #001f3f;
  --second-color-secondary: #2c3e50;
  --third-color-secondary: #faf0e6;
  --fourth-color-secondary: #bcc6cc;
  --fifth-color-secondary: #c0c0c0;
  /* Fonts */
  --first-family: "Montserrat";
  --second-family: "Raleway";
  --third-family: "Open Sans";
  --fourth-family: "Lato";
  --fifth-family: "Lora";
  --sixth-family: "Playfair Display";
  /* Background */
  --background-color-primary: #ffffff;
  --background-color-secondary: #000;
  /* Fonts */
  --font-color-primary: #ffffff;
  --font-color-secondary: #000;
  /* Linear */
  /* --background-linear-1: #f6aa1c;
      --background-linear-2: #ed9511;
      --background-linear-3: #e38109;
      --background-linear-4: #d96c05;
      --background-linear-5: #cd5705;
      --background-linear-6: #c44b07;
      --background-linear-7: #bb3e09;
      --background-linear-8: #b2310a;
      --background-linear-9: #ab2c0b;
      --background-linear-10: #a3260c;
      --background-linear-11: #9c210c;
      --background-linear-12: #941b0c; */
}

section {
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.section-title {
  font-family: var(--first-family);
  font-weight: 400;
  color: var(--fourth-color-primary);
  text-align: center;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: "";
  height: 3px;
  width: 60px;
  background: var(--second-color-primary);
  position: absolute;
  top: 50%;
}

.section-title::before {
  left: -70px;
}
.section-title::after {
  right: -70px;
}

.categorie-card {
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
  
}

.categorie-card img {
  transition: all 0.6s;
}

.categorie-card:hover{
  background: #f5f5f5;
}

.categorie-card:hover img {
  /* scale: 1.1; */

}
