.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2vw;
  background-color: var(--first-color-primary);
}

.top-header .left,
.top-header .middle,
.top-header .right {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: var(--first-family);
}

.top-header .left i,
.top-header .middle i,
.top-header .right i {
  color: var(--fourth-color-primary);
}

.top-header .left a,
.top-header .middle a,
.top-header .right a {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--fourth-color-primary);
  transition: all 0.5s;
  cursor: pointer;
}

.top-header .left a:hover,
.top-header .middle a:hover,
.top-header .right a:hover {
  color: var(--background-color-secondary);
  scale: 1.02;
}

.top-header .left .location label {
  cursor: pointer;
  transition: all 0.5s;
  gap: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-header .right {
  gap: 20px;
}

.top-header .right .socials {
  cursor: default;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.top-header .right .socials i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.top-header .right .socials i:hover {
  scale: 1.1;
  color: var(--first-color-secondary);
}

@media screen and (max-width: 900px) {
  /* .top-header .left .phone, */
  /* .top-header .right .contact-us, */
  .top-header .left .mail {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .top-header .left .phone,
  .top-header .right .contact-us {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .top-header .left {
    display: none;
  }
  .top-header .right{
    justify-content: space-between;
    flex: 1;
  }
}
