.menu .link {
  padding-bottom: 5px;
  overflow-x: hidden;
}

.menu .link.active {
  @apply text-neutral-900;
}

.menu .link a {
  position: relative;
  transition: all 0.5s;
}

.menu .link.en a::after {
  right: 100%;
}

.menu .link.ar a::after {
  left: 100%;
}

.menu .link a::after {
  content: "";
  position: absolute;
  height: 2px;
  transition: all 0.5s;
  width: 100%;
  bottom: -5px;
  background: var(--first-color-primary);
}

.menu .link.active.ar a::after {
  left: 0%;
}

.menu .link.ar a:hover::after {
  left: 0%;
}

.menu .link.active.en a::after {
  right: 0%;
}

.menu .link.en a:hover::after {
  right: 0%;
}
