.menu .link {
  padding-bottom: 5px;
  overflow-x: hidden;
}

.menu .link.active {
  @apply text-neutral-900;
}

.menu .link a {
  position: relative;
  transition: all 0.5s;
}

.menu .link a::after {
  content: "";
  position: absolute;
  height: 2px;
  transition: all 0.5s;
  width: 100%;
  bottom: -5px;
  left: 100%;
  background: var(--first-color-primary);
}

.menu .link.active a::after {
  left: 0%;
}

.menu .link a:hover::after {
  left: 0%;
}
