.link {
  padding-bottom: 5px;
  overflow-x: hidden;
}
.link.active {
  color: var(--first-color-secondary);
}

.link a {
  position: relative;
  /* overflow-x: hidden; */
  transition: all 0.5s;
}

.link a::before {
  content: "";
  position: absolute;
  height: 2px;
  transition: all 0.5s;
  width: 100%;
  bottom: -5px;
  left: -100%;
  background: var(--first-color-primary);
}

.link.active a::before {
  left: 0;
}

.link a:hover::before {
  left: 0;
}

.lang {
  font-family: var(--first-family);
  color: var(--third-color-secondary);
  background: var(--second-color-primary);
  border-radius: 20px;
  padding: 10px 20px;
}
